# Core Web Framework
fastapi>=0.109.2
uvicorn>=0.27.1
quart>=0.19.4
hypercorn>=0.15.0
amazon-transcribe>=0.6.2
awscrt>=0.16.26
# AWS Services
boto3>=1.34.34
botocore>=1.34.34

# Audio Processing
PyAudio>=0.2.14
sounddevice>=0.4.6
numpy>=1.24.4
torch>=2.1.2

# Web Sockets
websockets>=12.0

# Database
psycopg2-binary>=2.9.9

# Utilities
python-multipart>=0.0.7
pydantic>=2.10.6
typing-extensions>=4.9.0
dataclasses>=0.6
